{% extends 'website/base/logged_base.html' %}
{% block title %} Photo Approval {% endblock %}
{% load static %}
{% load website_template_tags %}

{% block header_content %}
<link href="{% static 'website/css/photo_approval.css' %}?v=1" rel="stylesheet">
<div class="row">
  <div class="col-md-12">
    <div class="header-title">
      Photo Approval
    </div>
  </div>
</div>
{% endblock %}

{% block body_content %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    {% if page_obj %}
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <form id="status-form" class="imediate-form" method="get">
            {% include "website/forms/form_snippet.html" with form=status_form %}
          </form>
        </div>
      </div>
      <div class="approval-list list-group">
        <form id="photo-approval-form" method="post">
          {% csrf_token %}
          {% for ui in page_obj %}
          <div class="row">
            <div class="col-md-12">
                <div class="list-group-item {% if forloop.first %}first-list-item{% elif forloop.last %}last-list-item{% endif %}">
                  <div class="row">
                    <div class="col-md-2">
                      {% include 'website/base/thumbnail_container_snippet.html' with custom_class='photo-container' %}
                    </div>
                    <div class="col-md-5">
                      <dl class="dl-horizontal">
                        <dt>Uploaded By:</dt>
                        <dd>{{ui.user.first_name}}&nbsp;{{ui.user.last_name}}</dd>
                        <dt>Uploaded on:</dt>
                        <dd>{{ui.uploaded_on}}</dd>
                        <dt>Date Taken: </dt>
                        <dd>{{ui.date_taken}}</dd>
                      </dl>
                    </div>
                    <div class="col-md-5">
                      <div class="row">
                        <div class="col-md-12 text-center">
                          <h4 class="light-text">Change Status</h4>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 text-center">
                          <div class="btn-group status-group" data-toggle="buttons">
                            <label class="btn btn-success {% if ui.status == 'Accepted' %}active{% endif %}">
                              <input type="radio" name="{{ui.pk}}" value="Accepted" {% if ui.status == 'Accepted' %}checked{% endif %}> Accepted
                            </label>
                            <label class="btn btn-warning {% if ui.status == 'Pending' %}active{% endif %}">
                              <input type="radio" name="{{ui.pk}}" value="Pending" {% if ui.status == 'Pending' %}checked{% endif %}> Pending
                            </label>
                            <label class="btn btn-danger {% if ui.status == 'Refused' %}active{% endif %}">
                              <input type="radio" name="{{ui.pk}}" value="Refused" {% if ui.status == 'Refused' %}checked{% endif %}> Refused
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          {% endfor %}
          <div class="row" style="padding-top:20px;">
            <div class="col-md-12 text-right">
              <button type="submit" class="btn btn-default"><i class="fas fa-save"></i>&nbsp;Save</button>
            </div>
          </div>
      </form>
      </div>
    {% else %}
      <div class="no-data">
        <p class="text-center">There are no photos to approve.</p>
      </div>
    {% endif %}
  </div>
</div>
{% if page_obj %}
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    {% include 'website/base/paginator.html' %}
  </div>
</div>
{% endif %}
{% include 'website/modals/image_modal.html' %}
<script src="{% static 'website/js/image_modal.js' %}?version=1.1"></script>
{% endblock %}
