{% extends 'website/base/base.html' %}
{% block title %} Landing {% endblock %}
{% block content %}
{% load static %}
<link href="{% static 'website/css/landing.css' %}?v=1.10" rel="stylesheet">
<div class="section presentation-section">
  <div class="section-curtain full-height">
    <div class="container presentation-container full-height">
      <div class="row full-height">
        <div class="col-md-12">
          <div class="presentation-content">
            {% block presentation_content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
