{% extends 'website/landing/base.html' %}
{% block title %} Request Access {% endblock %}
{% block presentation_content %}
<style>
  .presentation-container > .row > .col-md-12 {
    margin-top: -163px;
  }
</style>
  <div class="col-md-4 col-md-offset-4">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center light-text">Request Access</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              {% include 'website/forms/individual_formfield.html' with field=form.first_name %}
            </div>
            <div class="col-md-6">
              {% include 'website/forms/individual_formfield.html' with field=form.last_name %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {% include 'website/forms/individual_formfield.html' with field=form.email %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              {% include 'website/forms/individual_formfield.html' with field=form.password %}
            </div>
          </div>
          <div class="form-group text-right">
            <button type="submit" class="btn btn-default"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Log In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
