{% extends 'website/base/logged_base.html' %}
{% block title %} Friend's Search {% endblock %}
{% load static %}
{% block header_content %}
<link href="{% static 'website/css/gallery.css' %}?v=1.0" rel="stylesheet">
<div class="row">
  <div class="col-md-12">
    <div class="header-title search-title">
      Friend's Search
      <span>You searched for '{{request.GET.search}}'</span>
    </div>
  </div>
</div>
{% endblock %}

{% block body_content %}
<div class="row">
  <div class="col-md-12">
    {% if page_obj %}
      <div class="list-group">
        {% for u in page_obj %}
          <a href="{% url 'website:user_uploads_view' u.pk %}" class="list-group-item">
            <div class="row">
              <div class="col-md-8">{{u.first_name}}&nbsp;{{u.last_name}}</div>
              <div class="col-md-4 text-right">
                <i class="fas fa-chevron-right"></i>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    {% else %}
      <div class="no-data">
        <p class="text-center">No friends found.</p>
      </div>
    {% endif %}
  </div>
</div>
{% if page_obj %}
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    {% include 'website/base/paginator.html' %}
  </div>
</div>
<script src="{% static 'website/third-party/freewall/freewall.js' %}?version=1.1"></script>
{% endif %}
{% endblock %}
