#wait-modal > .modal-dialog {
  margin: calc(100vh/2 - 100px) auto !important;
}

.navbar {
  z-index: 1024;
  background-color: rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid white;
  margin-bottom: 0;
}

.navbar a, .navbar button {
  color: #fff !important;
  font-weight: 300;
}

.navbar a > i, .navbar button > i {
  margin-right: 10px;
}

.navbar .btn {
  background-color: transparent !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent !important;
}

.navbar .dropdown-menu > li > a {
  color: #333 !important;
  padding: 10px 20px;
  font-weight: 300;
}

.navbar .dropdown-menu > li > a > i {
  margin-right: 10px;
}

.section-header {
  height: 150px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
  margin-bottom: 20px;
  background-image: url('/static/website/img/uploads-bg.jpg');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.section-curtain {
  background-color: rgba(0, 0, 0, 0.25);
}

.full-height {
  height: 100% !important;
}

.section-header .section-content {
  top: 50px;
  line-height: 100px;
}

.body-section {
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-title {
  font-size: -webkit-xxx-large;
  font-weight: 100;
  color: #fff;
}

.footer {
  background-color: #FFFFFF;
  line-height: 20px;
  overflow: hidden;
}

.footer .copyright {
  color: #666;
  padding: 10px 15px;
  margin: 15px 3px;
  line-height: 20px;
  text-align: center;
}

form input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 0px;
    border-bottom: 1px solid #333;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-invalid {
  border-color: #d43f3a;
}

.btn {
  opacity: 0.8;
  background-color: #fff !important;
}

.btn:hover {
  opacity: 1;
  background-color: initial !important;
}

.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
    color: #333;
    border-color: #333;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: #2e6da4;
    border-color: #2e6da4;
}

.btn-info, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
    color: #46b8da;
    border-color: #46b8da;
}

.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
    color: #4cae4c;
    border-color: #4cae4c;
}

.btn-warning, .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active {
    color: #eea236;
    border-color: #eea236;
}

.btn-danger, .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
    color: #d43f3a;
    border-color: #d43f3a;
}

.text-info {
  color: #46b8da;
}

.text-success {
  color: #4cae4c;
}

.text-warning {
  color: #eea236;
}

.text-danger {
  color: #d43f3a;
}

.form-errors {
  font-weight: 800;
  color: #d43f3a;
}

.search-form input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.search-form button[type='submit'] {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid #ccc;
  border-left: 0px;
}

.user-dropdown-btn {
  padding-top: 9px !important;
  padding-bottom: 8px !important;
}

.margin-auto {
  margin: auto;
}

.nav-img {
  width: 33px !important;
  height: 33px !important;
  min-width: 33px !important;
  min-height: 33px !important;
  max-width: 33px !important;
  max-height: 33px !important;
  border-radius: calc(33px/2);
  -webkit-border-radius: calc(33px/2);
  -moz-border-radius: calc(33px/2);
}

.navbar-header {
  position: relative;
}

.navbar-header .navbar-brand > img {
  margin-top: -5px;
}


.thumbnail-container {
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.clickable:hover {
  cursor: pointer;
}

.zoom-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
  opacity: 0;
}

.zoom-container:hover {
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.zoom-container a {
  color: #717171;
  font-size: x-large;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #eee;
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.light-text {
  font-weight: 300;
}

.pagination * {
  color: #333 !important;
}

.no-data {
  position: relative;
  width: 100%;
  height: 60vh;
}

.no-data p {
  position: absolute;
  width: 100%;
  font-size: 2.5em;
  font-weight: 100;
  top: 50%;
  margin-top: -25px;
}
