.approval-list .list-group-item {
  border-radius: 0;
}

.approval-list .first-list-item {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.approval-list .last-list-item {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.list-group-item {
  position: relative;
}

.list-group-item .dl-horizontal {
  position: absolute;
  margin-top: 15px;
}

.photo-container {
  width: 100px !important;
  height: 100px !important;
  min-width: 100px !important;
  min-height: 100px !important;
  max-width: 100px !important;
  max-height: 100px !important;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0 auto;
}
