{% load website_template_tags %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div id="cards-container">
    {% for ui in page_obj %}
      <div class="item">
        {% include 'website/base/thumbnail_container_snippet.html' with custom_class='item-top' %}
        <div class="item-bottom">
          {% if same_user %}
              <p href="#" class="item-bottom-content {{ui.status|get_status_class}}">
                {{ui.status}}
              </p>
          {% else %}
            <div class="item-bottom-content">
              <a href="#" class="link-success text-center" data-target="{{ui.pk}}">
                <i class="fas fa-check"></i>
              </a><!--
            --><a href="#" class="link-danger text-center" data-target="{{ui.pk}}">
                <i class="fas fa-times"></i>
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    {% empty %}
      <p>{% if same_user %} You {% else %} This user {% endif %} have not uploaded any photo yet...</p>
    {% endfor %}
  </div>
  </div>
</div>
