{% load website_template_tags %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div id="cards-container" class="free-wall">
    {% for ui in page_obj %}
      <div class="item">
        {% include 'website/base/thumbnail_container_snippet.html' with custom_class='item-top' %}
        <div class="item-bottom">
          <p href="#" class="item-bottom-content status-{{ui.status|get_status_class}}">
            {{ui.status}}
          </p>
        </div>
      </div>
    {% empty %}
      <p>{% if same_user %} You {% else %} This user {% endif %} have not uploaded any photo yet...</p>
    {% endfor %}
  </div>
  </div>
</div>
