{% extends 'website/base/logged_base.html' %}
{% block title %} User Uploads {% endblock %}
{% load static %}
{% load website_template_tags %}

{% block header_content %}
  <link href="{% static 'website/third-party/jquery-ui/jquery-ui.min.css' %}?v=1.10" rel="stylesheet">
  <link href="{% static 'website/css/user_uploads.css' %}?v=1.0" rel="stylesheet">
  <div class="row">
    <div class="col-md-6">
      <div class="header-title">
        {% if same_user %}
          My Uploads
        {% else %}
          {{user.first_name}}'s Uploads
        {% endif %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="pull-right">
        <div class="statistics-container">
          <dl class="dl-horizontal">
            <dt>Total Uploads</dt>
            <dd>{{object|get_total_uploads}}</dd>
            <dt>Uploads Accepted</dt>
            <dd>{{object|get_status_uploads:"Accepted"}}</dd>
            <dt>Uploads Refused</dt>
            <dd>{{object|get_status_uploads:"Refused"}}</dd>
            <dt>Uploads Pending</dt>
            <dd>{{object|get_status_uploads:"Pending"}}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block body_content %}
{% if same_user %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
      <div clas="col-md-12">
        <h3 class="text-center">Upload New Image</h3>
      </div>
    </div>
    <div class="row">
      <div clas="col-md-12">
        {% include 'website/forms/upload_form.html' with form=upload_form %}
      </div>
    </div>
  </div>
</div>
<hr/>
{% endif %}
<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <form id="status-form" method="get">
      {% include "website/forms/form_snippet.html" with form=status_form %}
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% include 'website/user/user_uploads_list.html'%}
  </div>
</div>
{% if page_obj %}
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    {% include 'website/base/paginator.html'%}
  </div>
</div>
{% endif %}
{% include 'website/modals/image_modal.html' %}
<script src="{% static 'website/third-party/jquery-ui/jquery-ui.min.js' %}?version=1.1"></script>
<script src="{% static 'website/third-party/freewall/freewall.js' %}?version=1.1"></script>
<script src="{% static 'website/js/user_uploads.js' %}?version=1.0"></script>
<script src="{% static 'website/js/gallery.js' %}?version=1.1"></script>
{% endblock %}
