{% load static %}
{% load website_template_tags %}
<li class="dropdown">
  <a href="#" class="user-dropdown-btn dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <img src="{{ request.user|get_user_image_url }}" class="nav-img margin-auto" alt="Foto de perfil"></img>
    &nbsp;{{ request.user.first_name }}
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{% url 'website:user_detail_view' request.user.pk %}"><i class="fas fa-user"></i>Profile</a></li>
    <li><a href="{% url 'website:user_uploads_view' request.user.pk %}"><i class="fas fa-images"></i>My Uploads</a></li>
    {% if request.user|is_manager %}
    <li><a href="{% url 'website:photo_approval_view' %}"><i class="fas fa-clipboard-check"></i>Approve Photos</a></li>
    <li><a href="{% url 'website:user_approval_view' %}"><i class="fas fa-hands-helping"></i>Approve Users</a></li>
    {% endif %}
    <li role="separator" class="divider"></li>
    <li><a href="{% url 'website:logout_view' %}"><i class="fas fa-sign-out-alt"></i>Log out</a></li>
  </ul>
</li>
